{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/Estilos.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="bar">
            
            <div class="col" id="navbar"> <!--NAVBAR-->
                <nav class="navbar navbar-expand-lg navbar-light" >
                    <a class="navbar-brand" href="http://127.0.0.1:8000/">
                      <img src="{% static 'core/img/logo_transparent.png'%}" width="70" height="70" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Lo Último del Día<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="http://127.0.0.1:8000/contacto">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="api.html">Clima en tu ciudad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/login">Iniciar Sesión</a>
                        </li>
                        
                        <!-- <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registro</a>
                        </li> -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Redes Sociales
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Facebook</a>
                            <a class="dropdown-item" href="#">Instagram</a>
                            <a class="dropdown-item" href="#">Twitter</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                          </div>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Noticias" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                      </form>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-left: 70px; margin-right: 30px;">
                <h1>Ranking Forbes: Millonarios chilenos aumentaron su fortuna en 73%, pese a la pandemia</h1>
                <img src="{% static 'core/img/ricos.jpg'%}" class="img-fluid rounded mx-auto d-block" style="padding-top: 60px;" alt="">
            </div>        
          </div>
          <hr>
        <div class="row">
          <div class="col" style="margin-left: 70px; margin-right: 30px;">
            <p><strong>La publicación dio a conocer su tradicional ranking de las personas más ricas a nivel mundial. En Chile, el listado lo encabezan Iris Fontbona y su familia, Julio Ponce Lerou, Horst Paulmann y el presidente Piñera.</strong></p>
            <p>Iris Fontbona y su familia (74º) son los chilenos que ocupan el primer puesto a nivel nacional entre los más ricos, de acuerdo al tradicional ranking de la revista Forbes. La viuda de Andrónico Luksic Abaroa alcanzó este año una fortuna de US$ 23.300 millones, lo que representa un aumento de US$ 12.500 millones.
            Fontbona es la única posicionada en el Top 100 y la décima mujer más rica en el mundo.
            En el listado chileno le sigue el controlador de SQM, Julio Ponce Lerou (705º), con US$ 4.100 millones, mientras hace un año tenía un patrimonio de US$ 1.700 millones.</p>
            <p>En tercer lugar figura Horst Paulmann (fundador de Cencosud) y familia (925º), con US$ 3.300 millones, mientras que en cuarto lugar figura el presidente Sebastián Piñera y su familia (1.064º), quienes incrementaron su fortuna en US$ 300 millones, alcanzando US$ 2.900 millones.
            Lee también: FMI sigue mejorando proyección de Chile y prevé crecimiento del PIB de 6,2% para 2021
            Los otro cuatro nombres que figuran en el ranking son Roberto Angelini (1.580º), Álvaro Saieh (1.750º), Patricia Angelini (1.931º) y Luis Enrique Yarur (2.263º).</p>
            <p>A nivel mundial, los millonarios aumentaron su patrimonio en más de 5 billones de dólares, una cifra récord. Esto, gracias al auge de las criptomonedas, el aumento de las Empresas de Adquisición de Propósito Especial, las aperturas en bolsa y el boom de las compañías relacionadas al enfrentamiento de la pandemia.</p>
            <p>En el mundo, la persona más rica es el dueño de Amazon, Jeff Bezos, con una fortuna de US$ 177 mil millones.
            Le sigue Elon Musk, dueño de Tesla, con US$ 151 mil millones.</p>
          </div>
          
            <div class="col">
              <img src="{% static 'core/img/tablaricos.png'%}" class="img-fluid rounded mx-auto d-block" style="padding-top: 80px;" alt="">
            </div>
          
        </div>

        <footer class="row">
            <section class="col-8">
                <blockquote class="blockquote">
                    <p class="mb-0">CAOS NEWS </p>
                    <footer class="blockquote-footer">Informándote en cada momento del día, porque somos tu noticiero</cite></footer>
                </blockquote>
            </section>
            <section class="col-4 text-right">
  
  
                <p><em>Tu Noticiero Oficial</em></p>
                <address>
                    Av. Siempre viva #742, <br>
                    Springfield
                <hr>
                </address>
  
            </section>
        </footer>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>