{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/Estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
</head>

<body>
    <div class="container-fluid" id="container">
        <div class="row" id="bar">
            <div class="col" id="navbar"> <!--NAVBAR-->
                <nav class="navbar navbar-expand-lg navbar-light" >
                    <a class="navbar-brand" href="{% url 'index2' %}">
                      <img src="{% static 'core/img/logo_transparent.png'%}" width="70" height="70" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Lo Último del Día<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'contacto' %}">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'noticiadjango' %}">Subir Noticia</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'listaNoticia' %}">Mis Noticias</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="api.html">Clima en tu ciudad</a>
                        </li>
                        
                        <!-- <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Registro</a>
                        </li> -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Redes Sociales
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Facebook</a>
                            <a class="dropdown-item" href="#">Instagram</a>
                            <a class="dropdown-item" href="#">Twitter</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                          </div>
                        </li>
                      </ul>
                      <h2 for="" id="saludo">
                          Hola Javier
                      </h2>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar Noticias" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                      </form>
                      
                    </div>
                  </nav>
            </div>
        </div>

        <div class="row">
          <h1 style="margin: 5px 0 0 40%; padding-bottom: 15px;" >Crear Noticia</h1>
        </div>
        <div class="row">
            <form action="" method="POST" id="formNoticia" style="margin-left: 40%;">

                {% csrf_token %}

                {{formularioNoticia|crispy}}

                <button style="margin-bottom: 15px;">Crear Noticia</button>

            </form>
        </div>

        <footer class="row" id="footer">
        <section class="col-8">
            <blockquote class="blockquote">
                <p class="mb-0">CAOS NEWS </p>
                <footer class="blockquote-footer">Informándote en cada momento del día, porque somos tu noticiero</cite></footer>
            </blockquote>
        </section>
        <section class="col-4 text-right">


            <p><em>Tu Noticiero Oficial</em></p>
            <address>
                Av. Siempre viva #742, <br>
                Springfield
            <hr>
            </address>

        </section>
    </footer>
      
  </div>
  
  {% bootstrap_javascript jquery='full' %}
</body>
</html>