#container{
    /* background-color: #ffecd7; */
}

#titulo{
    text-align: center;
    font-size: 60px;
}

#logo{
    height: 80px;
    padding-right: 1000px;
    padding-left: 40px;
    box-sizing: border-box;
}

.carousel-inner img {
    margin: auto;
}

#bar{
    background-color: #ffecd7;
    padding-bottom: 10px;
    height: 10vh;
}

#carrusel{
    padding-bottom: 10px;
    background-color: #ffecd7;
    box-sizing: border-box;
    background-image: url("../images/fondo.png");
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#card{
    background-color: #ffecd7;
    box-sizing: border-box;
    background-image: url("../images/fondo.png");
}

#navbar{
    box-sizing: border-box;
}

#img-carrusel{
    font-size: 20px;
}

